@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-thin-webfont.eot');
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.wrapper{
		/*background: ffffff;*/
		margin: 0 auto;
    width: 1215px;
    height: 1064px;
	/*box-shadow: 0px 0px 8px -1px #808080;*/
	
	font-size: 14px;
	/*z-index: 2;
	margin-top: 39px;*/
     background-image: url('../img/bg.png');
     font-family: "helvetica_neueregular";
     text-align: center;
}

.top-menu{
    width: 1215px;
    height: 40px;
  /*  background-color: rgb(7,76,136);*/
  background-color: rgb(255,76,136);
}
.top-menu-left{
float: right;
display:block;
width: 380px;
}

.top-menu-right{
float: right;
display:block;
width: 370px;


}
.top-menu-left a, 
.top-menu-right a, 
.top-menu-left li, 
.top-menu-right li{
    display: inline-block;
}

.form{
    display: block;
    background-color: rgba(0,0,0, .63);
    width: 560px;
    height: 613px;


 }
/*ЦЕНТРИРУЮ*/
  .wrapper{position: relative;}
    .form{
position: absolute;
top: 50%;
left: 50%;
margin: -25% 0 0 -25%;
}
/* end of ЦЕНТРИРУЮ*/
.form input{
    display: block;
    background-color: rgb(16,16,16);
    color: rgb(255,251,251);
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 276px;
    height: 35px;
  
}

.form input:hover {
    color: rgb(255,251,251); /* Цвет текста активного пункта */
    background-color: rgb(27,82,136); /* Цвет фона активного пункта */
    width: 276px;
    height: 35px;
box-shadow: 0px 0px 5px 0px rgba(27, 82, 136, 0.1) inset;
box-shadow: 0px 2px 5px 0px rgba(27, 82, 136, 0.2) inset;
/*box-shadow: 0px 0px 4.5px 4.5px rgba(47, 123, 197, 0.77);
box-shadow: 0px 1px 0px 0px rgba(47, 123, 197, 1);*/
box-shadow: 0px 1px 4.5px 4.5px rgba(47, 123, 197, 0.77);

}

form div {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}


/*
.top{
	width: 1000px;
    height: 176px;
    margin: 0 auto;
    color: #128aa7;
    font-size: 12px;
    background: #ffffff;


}
.container{
	width: 400px;
    height: 176px;
}

.clearfix:after{
	clear:both;
	display:block;
}

.logo{
	width: 283px;
    height: 164px;
    display:block;

}


.contacts{
	width: 122px;
    height: 67px;
    display:block;
    font-size: 11px;
    position: relative;
    padding-right: 43px;
    padding-top: 12px;
    padding-bottom: 33px;

}
.contries{

	float: right;
	width: 326px;
    height: 56px;
    display:block;
    font-size: 10px;
    color: #128aa7;
    text-decoration: underline;
    

}

.contries img{
	width: 42px;
    height: 42px;
    padding-bottom: 3px;
    padding-right: 12px;

}

.contries a{
	/*display: inline-block;*/
    /*
}
.contries li{
float: left;

}



.top-menu{
	width: 1000px;
    height: 267px;

}
.img{
	width: 1000px;
    height: 237px;
}

.logo p{
    position: relative;
    bottom: 77px;
    left: 82px;
}
.logo img{
	padding-left: 20px;
}

.center-panel {
    font-size: 14px;
    width: 1004px;
    height: 33px;
    z-index: 1;
    }
.center-panel li {
    list-style: none;
    float: left;
    height: 33px;
    width: 142.8px;
    text-align: center;
    background: #303030;
    position: relative;
    padding-top: 12px;
     z-index: 1;
    }
.center-panel li ul {
    list-style: none;

    width: 142.8px;
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
    }
.center-panel li ul {
    float: none;
    height: 33px;
    margin: 0;
    width: 142.8px;
    text-align: center;
    background: #303030;
     z-index: 1;
    }
.center-panel li a {
    display: block;
    width: 142.8px;
    height: 33px;
    color: #fff;
    text-decoration: none;
    }
.center-panel li:hover ul, .center-panel li.jshover ul {
    display: block;
    }
.center-panel li:hover, .center-panel li.jshover {
    background: #303030;
    }

       li {
    position: relative;
   }
 .triangle::after {
    content: '';
    position: absolute;
    left: 133px;
    bottom: 12px;
    border: 5px solid transparent;
    border-top: 5px solid white;
}



.blocks{
	width: 1000px;
    height: 546px;
    
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #424c43;
}


.left{
float: left;
width: 20.9%;
height: 98%;
background: #edeef0;

}

.center{
	
	width: 58.2%;
	height: 98%;
	background: white;
	margin: 0 auto;

}
.right{
	float: right;
	width: 20.9%;
	height: 98%;
  	background: #edeef0;
}
.copyright{
	text-align: center;
	padding-top: 15px;
	color: #ffffff;
}

.text{
	font-weight: bolder;
	font-size: 19px;

}

